<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] 2022 Jolin 我拒菸，我驕傲。所有菸品都 Get Out!</title>
    <link rel="shortcut icon" href="https://www.e-quit.org/images/jtf_logo.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/works.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="logos_wrapper">
            <div class="organizer_logos">
                <div class="text_and_logo">
                    <p>主辦單位:</p>
                    <div class="logo">
                        <a href="https://health.gov.taipei/" target="new"><img src="~/images/health_logo.png" alt="台北市衛生局"></a>
                    </div>
                </div>
                <div class="text_and_logo">
                    <p>協辦單位:</p>
                    <div class="logo">
                        <a href="https://www.doe.gov.taipei/" target="new"><img src="~/images/education_logo.svg" alt="台北市教育局"></a>
                    </div>
                </div>
                <div class="text_and_logo">
                    <p>承辦單位:</p>
                    <div class="logo">
                        <a href="https://www.facebook.com/smokefreesuper" target="new"><img src="~/images/qs_logo.svg" alt="財團法人董氏基金會"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: true)
</body>
</html>
